body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box}


/* Add a gray background color with some padding */
body {
  font-family: Arial;
  padding: 10px;
  background: #d6d6d6;
}

/* card */
.card {
   background-color: rgb(255, 255, 255);
   padding: 20px;
   margin-top: 20px;
}

/* Footer */
footer {
    background-color: rgb(61, 114, 228);
    height: 50px;
    font-size: 12px;
    margin-top: 30px;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  /* Card */
  .card {
    height: 350px;
    overflow-y: auto; 
  }
  
    /* hr (line) */
    hr {
      border: none;
      height: 2px;
      background-color: rgb(106, 121, 153);
      width: 90%; 
  }
