<!DOCTYPE html>
<html lang="en">

    <head>
        {% load static %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'djangoapp/dealer.css' %}">
        <meta charset="UTF-8">
        <title>Best Car Dealer</title>
    </head>

    <body> 
           
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="btn btn-primary" href="{% url 'djangoapp:index' %}">Home Page</a>
                    <a class="btn btn-primary" href="{% url 'djangoapp:about' %}">About Us</a>
                    <a class="btn btn-primary" href="{% url 'djangoapp:contact' %}">Contact Us</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
    
                    {% if user.is_authenticated %}
                    <li>
                        <a class="btn btn-link" href="#">{{ user.first_name }}({{ user.username }})</a>
                        <a class="btn btn-link" href="{% url 'djangoapp:logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li>
                        <form class="form-inline" action="{% url 'djangoapp:login' %}" method="POST">
                            {% csrf_token %}
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Username" name="username">
                                <input type="password" class="form-control" placeholder="Password" name="psw">
                                <button class="btn btn-primary" type="submit">Login</button>
                                <a class="btn btn-link" href="{% url 'djangoapp:registration' %}">Sign Up</a>
                            </div>
                        </form>
                    </li>
                    {% endif %}
                </ul>
    
            </div>
        </nav>

        <div class="tille">
            <b class="mt-5 p text-left">
                <br><br>OOPS!!! Something went very wrong...<br><br>
            </b>
            <p>
                This is an error page. I would be happier if she hadn't shown up!<br><br>
            </p>
        </div>

        <div class="card">
            <p class="mt-1 p text-left">
                <img height="200px" length="150px" src="/media/images/oops01.png"class="card-img-left">
                <br><br> Congratulations, you just found a bug!<br><br>
                This page may have appeared for the following reasons: <br><br>
                Did you enter the wrong login credentials? <br>
                If not, there is probably an error in accessing the database.<br>
                Please contact-us and let us know!<br><br>
                If you did enter the wrong login credentials, try again!<br>
                In case you forgot your credentials contact-us. 
            </p>
        </div>

        <footer>
            <p><br>Copyright © 2023 Best Car Dealer! All rights reserved.</p>
        </footer>
        
    </body>

    {% if error %}
    <script type="text/javascript">
    alert("{{ error }}");
    </script>
    {% endif %}

</html>